@import "mixins";

/* Typography Classes */
/**********************/

// Set the desktop classes
@each $sizeName, $scaleStep in $type-map {
  %#{$sizeName} {
      @include typesetter(#{$sizeName});
  }
}

// Set the device classes
@include responsive(xs) {
  @each $sizeName, $scaleStep in $type-map {
    %nrw-#{$sizeName} {
        @include typesetter(#{$sizeName},'nrw');
    }
  }
}


/* Element Classes    */
/**********************/
%container {
    margin: 0 auto;
    max-width: $screen-lg;
}

%component {
    padding: calc(#{beat(2)} - 1px) $el-pad;
    margin: beat(2) 0;
    border: 1px solid $comp-border;
    border-radius: $border-radius-base;
}

%component-compact {
    @extend %component;

    border-radius: $border-radius-small;
    padding: calc(#{beat(1)} - 1px) $el-pad;
}

// @each $colorMap in $palette {
//   @debug $colorMap;
// }


%grayscale-solid {
  @include comp-colors-solid($grayscale);
}

%grayscale-outline {
  @include comp-colors-outline($grayscale);
}

%primary-solid {
  @include comp-colors-solid($primary);
}

%primary-outline {
  @include comp-colors-outline($primary);
}

%accent-solid {
  @include comp-colors-solid($accent);
}

%accent-outline {
  @include comp-colors-outline($accent);
}

%secondary-solid {
  @include comp-colors-solid($secondary);
}

%secondary-outline {
  @include comp-colors-outline($secondary);
}

%tertiary-solid {
  @include comp-colors-solid($tertiary);
}

%tertiary-outline {
  @include comp-colors-outline($tertiary);
}

%quarternary-solid {
  @include comp-colors-solid($quarternary);
}

%quarternary-outline {
  @include comp-colors-outline($quarternary);
}
%info-solid {
  @include comp-colors-solid($info);
}

%info-outline {
  @include comp-colors-outline($info);
}

%warning-solid {
  @include comp-colors-solid($warning);
}

%warning-outline {
  @include comp-colors-outline($warning);
}

%danger-solid {
  @include comp-colors-solid($danger);
}

%danger-outline {
  @include comp-colors-outline($danger);
}

%success-solid {
  @include comp-colors-solid($success);
}

%success-outline {
  @include comp-colors-outline($success);
}

%data-label {
  @extend %small-type;

  color: $gray-safe;
}

%series-header {
  @extend %large-type;

  @include underliner;

  color: $black;
}
