@import "mixins";

/* Typography Classes */
/**********************/

// Set the desktop classes
@each $sizeName, $scaleStep in $type-map {
  %#{$sizeName} {
      @include typesetter(#{$sizeName});
  }
}

// Set the device classes
@include responsive(xs) {
  @each $sizeName, $scaleStep in $type-map {
    %nrw-#{$sizeName} {
        @include typesetter(#{$sizeName},'nrw');
    }
  }
}


/* Element Classes    */
/**********************/
%container {
    margin: 0 auto;
    max-width: $screen-lg;
}

%component {
    padding: calc(#{beat(2)} - 1px) $el-pad;
    margin: beat(2) 0;
    border: 1px solid #000;
    border-radius: $border-radius-base;
}

%component-compact {
    @extend %component;

    border-radius: $border-radius-small;
    padding: calc(#{beat(1)} - 1px) $el-pad;
}

%primary-solid {
  @include comp-colors-solid($primary);
}

%primary-outline {
  @include comp-colors-outline($primary);
}

%accent-solid {
  @include comp-colors-solid($accent);
}

%accent-outline {
  @include comp-colors-outline($accent);
}

%secondary-solid {
  @include comp-colors-solid($secondary);
}

%secondary-outline {
  @include comp-colors-outline($secondary);
}

%tertiary-solid {
  @include comp-colors-solid($tertiary);
}

%tertiary-outline {
  @include comp-colors-outline($tertiary);
}

%quarternary-solid {
  @include comp-colors-solid($quarternary);
}

%quarternary-outline {
  @include comp-colors-outline($quarternary);
}
