header {
  align-items: flex-end;
  display: flex;
  flex-flow: wrap;

  .menu {
    display: flex;
    margin-bottom: 0;

    a {
      color: $gray-safe;
      padding: beat(1) $el-pad 0;
    }

    & > li > a {
      display: flex;
    }

    .selected a {
      color: #f9f9f9;
      font-weight: bolder;
      border-bottom-color: rgba(255, 255, 255, .6);
    }

    .parent {
      & > a {
        @include set-fa('0da');
      }

      ul {
        background-color: #191919;
        height: 0;
        overflow: hidden;
      }

      &.open {
        ul {
          height: auto;
          overflow: visible;
        }

        & > a:before {
          transform: rotate(90deg);
          display: inline-block;
        }
      }
    }
  }
}

$lg-brand-width: 125px + $grid-gutter-width;

@include responsive(xs-up) {
  header {
    justify-content: flex-end;

    .brand {
      flex: 0 0 125px;
      margin: 0 $el-pad beat(-5.5);
    }

    .skippy {
      flex: 0 1 calc(100% - #{$lg-brand-width + 25px});
      margin-left: 25px;

      a {
        background-color: #999;
        width: auto;
      }
    }

    .moduletable_menu {
      flex: 0 1 calc(100% - #{$lg-brand-width});
    }

    .menu > li > a {
      border-bottom: beat(1) solid transparent;
    }

    .menu > li.selected > a {
        border-bottom-color: #0154A3;
    }

    .parent {
      position: relative;

      ul {
        position: absolute;
        display: flex;
        flex-direction: column;

        li {
          padding: 0;
        }

        a {
          display: flex;
          white-space: nowrap;
          padding-left: 1.75rem;
          background-color: #333;
        }
      }
    }
  }
}


@include responsive(xxs) {
  header {
    justify-content: space-between;
    align-items: flex-start;

    .moduletable_menu {
      flex: 0 0 100%;
    }

    .navbar-toggle {
      @include set-fa('0c9');

      background-color: rgba(255, 255, 255, 0.75);
      border-radius: $border-radius-base;
      margin: 10px $table-sides 0 0;
      padding: beat(1) $table-sides;

      &::before {
        margin-right: 0;
      }
    }

    .menu {
      background-color: black;
      flex-direction: column;

      a {
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        display: flex;
        padding-left: 1.5rem;
      }

      .parent > a {
        padding-left: $table-sides + 2px;
      }

      & > li:last-child {
        a {
          border-bottom-color: $black;
        }
      }
    }
  }
}


footer {
  color: $white;
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  padding: beat(2) 0;

  p {
    margin: 0 $el-pad beat(2);
  }
}

@include responsive(md-up) {
  footer {
    justify-content: space-between;
  }
}
