nav.global {
  background-color: $white;
  box-shadow: $shadow-base;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 5000;

  ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0 auto;
    max-width: 1200px;

    li {
      a {
        display: block;

        @extend %component-compact;

        margin: 0;
        border-color: transparent;
        cursor: pointer;
        border-radius: 0;

        &:hover {
          background-color: map-get($accent, "10");
        }

      }
      &:first-child {
        font-weight: 700;
        margin-right: auto;
      }
    }
  }
}
