/*		  Global Variables Set: variables.scss		*/
/*      ========================================   */

// Color Palette
$brand-primary: 	#681400;

$white: #fff;
$black: #000;

// CSS Variables
:root {
	--primary-clr: #{$brand-primary};
}

//## Grayscale from Bootstrap.
$gray-base: 		#000;
$gray-darker: 		lighten($gray-base, 13.5%); // #222
$gray-dark: 		lighten($gray-base, 20%);   // #333
$gray: 				lighten($gray-base, 33.5%); // #555
$gray-light: 		lighten($gray-base, 46.7%); // #777
$gray-lighter: 		lighten($gray-base, 93.5%); // #eee

// Lightest gray text-color on full white BG
// For accessibility audit
$gray-safe:			#767676;

// Transparency Tints & Shadings
$tint10: rgba(255,255,255, 0.1);
$tint17: rgba(255,255,255, 0.175);
$tint25: rgba(255,255,255, 0.25);
$tint50: rgba(255,255,255, 0.5);
$tint87: rgba(255,255,255, 0.875);
$shade10: rgba(0,0,0, 0.1);
$shade17: rgba(0,0,0, 0.175);
$shade25: rgba(0,0,0, 0.25);
$shade50: rgba(0,0,0, 0.5);
$shade87: rgba(0,0,0, 0.875);


// $link-color:		#50708a;
// $link-color:		darken($brand-blue, 35);
// $link-color-hover:	darken($link-color, 15);

// Navbar links
// $navbar-default-link-color:                $brand-brown;
// $navbar-default-link-hover-color:          darken($navbar-default-link-color, 2.5);
// $navbar-default-link-hover-bg:             lighten($brand-blue, 7);
// $navbar-default-link-active-color:         #555;
// $navbar-default-link-active-bg:            rgba(255, 255, 255, 0.35);

// Print Element Variables
$print-base-light: 	#eee;
$print-base-med: 	#ddd;
$print-base-dark: 	#c7c7c7;

$print-bg-light: 	$print-base-light !important;
$print-bg-med: 		$print-base-med !important;
$print-bg-dark: 	$print-base-dark !important;

$print-brd-light: 	darken($print-base-light, 10) !important;
$print-brd-med: 	darken($print-base-med, 10) !important;
$print-brd-dark: 	darken($print-base-dark, 10) !important;


//   Components
$comp-border: #ddd;
$comp-bg: #f5f5f5;
$comp-bg-shade: lighten($gray-light, 30);
$comp-border-shade: darken($comp-bg-shade, 5);

// Border Radii
$border-radius-base:        4px;
$border-radius-large:       6px;
$border-radius-small:       3px;

// Box Shadow effect
$shadow-base: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);

// Typography variables
$line-height: 1.5;

// Desktop sizes
$base-font-size: 16px;
$base-line-height: $line-height;
// Minor Third Scale: 1.2
/*
	https://type-scale.com/?size=16&scale=1.200&text=Demo%20Type%20Scale&font=Helvetica%Neue&fontweight=400&bodyfont=Helvetica%Neue&bodyfontweight=400&lineheight=1.45&backgroundcolor=white&fontcolor=%23333&preview=false
*/ 
$type-scale: 1.2;
$type-rhythm-px: $base-font-size * $line-height;

$nrw-font-size: 14px;
$nrw-line-height: $line-height;
// Major Second Scale: 1.125
/*
	https://type-scale.com/?size=16&scale=1.125&text=Demo%20Type%20Scale&font=Helvetica%Neue&fontweight=400&bodyfont=Helvetica%Neue&bodyfontweight=400&lineheight=1.45&backgroundcolor=white&fontcolor=%23333&preview=false
*/ 
$nrw-type-scale: 1.125;
$nrw-type-rhythm-px: $nrw-font-size * $line-height;

$print-font-size: 12px;
$print-line-height: $line-height;
// Major Second Scale: 1.125 - see above
$print-type-scale: 1.125;



// Set the Type Size names, assign placement on the scale
$type-map: (
     x-small-type: -2, 
       small-type: -1, 
             base:  0, 
       large-type:  1, 
     x-large-type:  2, 
    xx-large-type:  3, 
     primary-head:  4
);

// Layout Grid Sizes
$screen-lg:			1200px;
$screen-md:			 992px;
$screen-sm: 		 768px;
$screen-xs:			 560px;
$screen-min: 		 290px;

$screen-md-max:		$screen-lg - 1;
$screen-sm-max: 	$screen-md - 1;
$screen-xs-max:		$screen-sm - 1;
$screen-xxs-max:	$screen-xs - 1;

// Layout Grid Details
$grid-gutter-width: 30px;
$el-pad: $grid-gutter-width / 2;
$table-sides: 8px;
