<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, quam sint temporibus asperiores est, tempore?">
    <title>Modules | Workflow API</title>
    <link rel="stylesheet" href="css/styles@@if (compression === true) {@@include('compression.html')}.css">

    <style> </style>
</head>

<body class="nav-main grid-underla">
    <h1>Design Workflow</h1>

    @@include('header.html')

    <!-- @@include('local-nav.html') -->

    <div class="main-content" role="main">

        @@include('local-nav.html')

        <section class="content">
            <h2>Jumbotron Photos Are Jumbo</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi reiciendis saepe adipisci earum eius modi possimus! Reprehenderit deleniti, quisquam porro, itaque, illo repellat dolor ad similique velit quidem id expedita!</p>
            <p>Tempora dolorem et delectus sed ipsam incidunt nemo, placeat doloremque minus omnis debitis molestias at, amet? Consequatur, laudantium, vero? Illum veritatis pariatur, similique. Libero ullam, nemo pariatur tempora eos soluta.</p>
            <p>Alias deleniti, error est minus dolores obcaecati? Beatae libero omnis alias corporis tempore eum modi provident, tempora velit, dolor at dicta vero rem in recusandae voluptatum temporibus rerum nesciunt reiciendis!</p>
            <p>Nam quas illo architecto beatae cum iste velit quam totam, in nobis omnis nesciunt rerum quo veritatis, at corporis inventore quisquam. Atque, eius. Molestiae quidem voluptatum tempore, laudantium modi quae.</p>
            <p>Obcaecati asperiores, vero quis deserunt earum molestias. Porro ullam voluptas saepe accusamus dolores vitae explicabo nemo neque eum eveniet ut minus excepturi culpa facilis obcaecati, blanditiis fuga eos! Perspiciatis, dolores?</p>
        </section>
    </div>

    @@include('footer.html')

<script src="js/main@@if (compression === true) {@@include('compression.html')}.js"></script>
</body>

</html>