<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, quam sint temporibus asperiores est, tempore?">
    <title>Color System | Workflow API</title>
    <link rel="stylesheet" href="css/styles@@if (compression === true) {@@include('compression.html')}.css">
</head>

<body class="grid-underla">
    <h1>Color System</h1>
    @@include('header.html')
    <div class="main-content" role="main">
        <p class="lead">Based on the selection of the $brand-primary color, all variations, tints, and shades are generated through SASS functions.</p>

        <div class="color-chart">
            <div class="shading">
                <h2>Shading</h2>
                <div class="color">
                    <div class="swatch">l-100</div>
                </div>
                <div class="color">
                    <div class="swatch">l-90</div>
                </div>
                <div class="color">
                    <div class="swatch">l-80</div>
                </div>
                <div class="color">
                    <div class="swatch">l-70</div>
                </div>
                <div class="color">
                    <div class="swatch">l-60</div>
                </div>
                <div class="color">
                    <div class="swatch">l-50</div>
                </div>
                <div class="color">
                    <div class="swatch">l-40</div>
                </div>
                <div class="color">
                    <div class="swatch">l-30</div>
                </div>
                <div class="color">
                    <div class="swatch">l-20</div>
                </div>
                <div class="color">
                    <div class="swatch">l-10</div>
                </div>
                <div class="color">
                    <div class="swatch">G</div>
                </div>
                <div class="color">
                    <div class="swatch">d-10</div>
                </div>
                <div class="color">
                    <div class="swatch">d-20</div>
                </div>
                <div class="color">
                    <div class="swatch">d-30</div>
                </div>
                <div class="color">
                    <div class="swatch">d-40</div>
                </div>
                <div class="color">
                    <div class="swatch">d-50</div>
                </div>
                <div class="color">
                    <div class="swatch">d-60</div>
                </div>
                <div class="color">
                    <div class="swatch">d-70</div>
                </div>
                <div class="color">
                    <div class="swatch">d-80</div>
                </div>
                <div class="color">
                    <div class="swatch">d-90</div>
                </div>
                <div class="color">
                    <div class="swatch">d-100</div>
                </div>
            </div>
            <div class="primary">
                <h2>Primary</h2>
                <div class="color">
                    <div class="swatch">l-100</div>
                </div>
                <div class="color">
                    <div class="swatch">l-90</div>
                </div>
                <div class="color">
                    <div class="swatch">l-80</div>
                </div>
                <div class="color">
                    <div class="swatch">l-70</div>
                </div>
                <div class="color">
                    <div class="swatch">l-60</div>
                </div>
                <div class="color">
                    <div class="swatch">l-50</div>
                </div>
                <div class="color">
                    <div class="swatch">l-40</div>
                </div>
                <div class="color">
                    <div class="swatch">l-30</div>
                </div>
                <div class="color">
                    <div class="swatch">l-20</div>
                </div>
                <div class="color">
                    <div class="swatch">l-10</div>
                </div>
                <div class="color">
                    <div class="swatch">P</div>
                </div>
                <div class="color">
                    <div class="swatch">d-10</div>
                </div>
                <div class="color">
                    <div class="swatch">d-20</div>
                </div>
                <div class="color">
                    <div class="swatch">d-30</div>
                </div>
                <div class="color">
                    <div class="swatch">d-40</div>
                </div>
                <div class="color">
                    <div class="swatch">d-50</div>
                </div>
                <div class="color">
                    <div class="swatch">d-60</div>
                </div>
                <div class="color">
                    <div class="swatch">d-70</div>
                </div>
                <div class="color">
                    <div class="swatch">d-80</div>
                </div>
                <div class="color">
                    <div class="swatch">d-90</div>
                </div>
                <div class="color">
                    <div class="swatch">d-100</div>
                </div>
            </div>
            <div class="accent">
                <h2>Accent <small>(Complimentary)</small></h2>
                <div class="color">
                    <div class="swatch">l-100</div>
                </div>
                <div class="color">
                    <div class="swatch">l-90</div>
                </div>
                <div class="color">
                    <div class="swatch">l-80</div>
                </div>
                <div class="color">
                    <div class="swatch">l-70</div>
                </div>
                <div class="color">
                    <div class="swatch">l-60</div>
                </div>
                <div class="color">
                    <div class="swatch">l-50</div>
                </div>
                <div class="color">
                    <div class="swatch">l-40</div>
                </div>
                <div class="color">
                    <div class="swatch">l-30</div>
                </div>
                <div class="color">
                    <div class="swatch">l-20</div>
                </div>
                <div class="color">
                    <div class="swatch">l-10</div>
                </div>
                <div class="color">
                    <div class="swatch">A</div>
                </div>
                <div class="color">
                    <div class="swatch">d-10</div>
                </div>
                <div class="color">
                    <div class="swatch">d-20</div>
                </div>
                <div class="color">
                    <div class="swatch">d-30</div>
                </div>
                <div class="color">
                    <div class="swatch">d-40</div>
                </div>
                <div class="color">
                    <div class="swatch">d-50</div>
                </div>
                <div class="color">
                    <div class="swatch">d-60</div>
                </div>
                <div class="color">
                    <div class="swatch">d-70</div>
                </div>
                <div class="color">
                    <div class="swatch">d-80</div>
                </div>
                <div class="color">
                    <div class="swatch">d-90</div>
                </div>
                <div class="color">
                    <div class="swatch">d-100</div>
                </div>
            </div>
            <div class="secondary">
                <h2>Secondary</h2>
                <div class="color">
                    <div class="swatch">l-100</div>
                </div>
                <div class="color">
                    <div class="swatch">l-90</div>
                </div>
                <div class="color">
                    <div class="swatch">l-80</div>
                </div>
                <div class="color">
                    <div class="swatch">l-70</div>
                </div>
                <div class="color">
                    <div class="swatch">l-60</div>
                </div>
                <div class="color">
                    <div class="swatch">l-50</div>
                </div>
                <div class="color">
                    <div class="swatch">l-40</div>
                </div>
                <div class="color">
                    <div class="swatch">l-30</div>
                </div>
                <div class="color">
                    <div class="swatch">l-20</div>
                </div>
                <div class="color">
                    <div class="swatch">l-10</div>
                </div>
                <div class="color">
                    <div class="swatch">S</div>
                </div>
                <div class="color">
                    <div class="swatch">d-10</div>
                </div>
                <div class="color">
                    <div class="swatch">d-20</div>
                </div>
                <div class="color">
                    <div class="swatch">d-30</div>
                </div>
                <div class="color">
                    <div class="swatch">d-40</div>
                </div>
                <div class="color">
                    <div class="swatch">d-50</div>
                </div>
                <div class="color">
                    <div class="swatch">d-60</div>
                </div>
                <div class="color">
                    <div class="swatch">d-70</div>
                </div>
                <div class="color">
                    <div class="swatch">d-80</div>
                </div>
                <div class="color">
                    <div class="swatch">d-90</div>
                </div>
                <div class="color">
                    <div class="swatch">d-100</div>
                </div>
            </div>
            <div class="tertiary">
                <h2>Tertiary</h2>
                <div class="color">
                    <div class="swatch">l-100</div>
                </div>
                <div class="color">
                    <div class="swatch">l-90</div>
                </div>
                <div class="color">
                    <div class="swatch">l-80</div>
                </div>
                <div class="color">
                    <div class="swatch">l-70</div>
                </div>
                <div class="color">
                    <div class="swatch">l-60</div>
                </div>
                <div class="color">
                    <div class="swatch">l-50</div>
                </div>
                <div class="color">
                    <div class="swatch">l-40</div>
                </div>
                <div class="color">
                    <div class="swatch">l-30</div>
                </div>
                <div class="color">
                    <div class="swatch">l-20</div>
                </div>
                <div class="color">
                    <div class="swatch">l-10</div>
                </div>
                <div class="color">
                    <div class="swatch">T</div>
                </div>
                <div class="color">
                    <div class="swatch">d-10</div>
                </div>
                <div class="color">
                    <div class="swatch">d-20</div>
                </div>
                <div class="color">
                    <div class="swatch">d-30</div>
                </div>
                <div class="color">
                    <div class="swatch">d-40</div>
                </div>
                <div class="color">
                    <div class="swatch">d-50</div>
                </div>
                <div class="color">
                    <div class="swatch">d-60</div>
                </div>
                <div class="color">
                    <div class="swatch">d-70</div>
                </div>
                <div class="color">
                    <div class="swatch">d-80</div>
                </div>
                <div class="color">
                    <div class="swatch">d-90</div>
                </div>
                <div class="color">
                    <div class="swatch">d-100</div>
                </div>
            </div>
            <div class="quarternary">
                <h2>Quarternary</h2>
                <div class="color">
                    <div class="swatch">l-100</div>
                </div>
                <div class="color">
                    <div class="swatch">l-90</div>
                </div>
                <div class="color">
                    <div class="swatch">l-80</div>
                </div>
                <div class="color">
                    <div class="swatch">l-70</div>
                </div>
                <div class="color">
                    <div class="swatch">l-60</div>
                </div>
                <div class="color">
                    <div class="swatch">l-50</div>
                </div>
                <div class="color">
                    <div class="swatch">l-40</div>
                </div>
                <div class="color">
                    <div class="swatch">l-30</div>
                </div>
                <div class="color">
                    <div class="swatch">l-20</div>
                </div>
                <div class="color">
                    <div class="swatch">l-10</div>
                </div>
                <div class="color">
                    <div class="swatch">Q</div>
                </div>
                <div class="color">
                    <div class="swatch">d-10</div>
                </div>
                <div class="color">
                    <div class="swatch">d-20</div>
                </div>
                <div class="color">
                    <div class="swatch">d-30</div>
                </div>
                <div class="color">
                    <div class="swatch">d-40</div>
                </div>
                <div class="color">
                    <div class="swatch">d-50</div>
                </div>
                <div class="color">
                    <div class="swatch">d-60</div>
                </div>
                <div class="color">
                    <div class="swatch">d-70</div>
                </div>
                <div class="color">
                    <div class="swatch">d-80</div>
                </div>
                <div class="color">
                    <div class="swatch">d-90</div>
                </div>
                <div class="color">
                    <div class="swatch">d-100</div>
                </div>
            </div>
            <div class="info">
                <h2>State Info</h2>
                <div class="color">
                    <div class="swatch">l-100</div>
                </div>
                <div class="color">
                    <div class="swatch">l-90</div>
                </div>
                <div class="color">
                    <div class="swatch">l-80</div>
                </div>
                <div class="color">
                    <div class="swatch">l-70</div>
                </div>
                <div class="color">
                    <div class="swatch">l-60</div>
                </div>
                <div class="color">
                    <div class="swatch">l-50</div>
                </div>
                <div class="color">
                    <div class="swatch">l-40</div>
                </div>
                <div class="color">
                    <div class="swatch">l-30</div>
                </div>
                <div class="color">
                    <div class="swatch">l-20</div>
                </div>
                <div class="color">
                    <div class="swatch">l-10</div>
                </div>
                <div class="color">
                    <div class="swatch"></div>
                </div>
                <div class="color">
                    <div class="swatch">d-10</div>
                </div>
                <div class="color">
                    <div class="swatch">d-20</div>
                </div>
                <div class="color">
                    <div class="swatch">d-30</div>
                </div>
                <div class="color">
                    <div class="swatch">d-40</div>
                </div>
                <div class="color">
                    <div class="swatch">d-50</div>
                </div>
                <div class="color">
                    <div class="swatch">d-60</div>
                </div>
                <div class="color">
                    <div class="swatch">d-70</div>
                </div>
                <div class="color">
                    <div class="swatch">d-80</div>
                </div>
                <div class="color">
                    <div class="swatch">d-90</div>
                </div>
                <div class="color">
                    <div class="swatch">d-100</div>
                </div>
            </div>
            <div class="warning">
                <h2>State Warning</h2>
                <div class="color">
                    <div class="swatch">l-100</div>
                </div>
                <div class="color">
                    <div class="swatch">l-90</div>
                </div>
                <div class="color">
                    <div class="swatch">l-80</div>
                </div>
                <div class="color">
                    <div class="swatch">l-70</div>
                </div>
                <div class="color">
                    <div class="swatch">l-60</div>
                </div>
                <div class="color">
                    <div class="swatch">l-50</div>
                </div>
                <div class="color">
                    <div class="swatch">l-40</div>
                </div>
                <div class="color">
                    <div class="swatch">l-30</div>
                </div>
                <div class="color">
                    <div class="swatch">l-20</div>
                </div>
                <div class="color">
                    <div class="swatch">l-10</div>
                </div>
                <div class="color">
                    <div class="swatch"></div>
                </div>
                <div class="color">
                    <div class="swatch">d-10</div>
                </div>
                <div class="color">
                    <div class="swatch">d-20</div>
                </div>
                <div class="color">
                    <div class="swatch">d-30</div>
                </div>
                <div class="color">
                    <div class="swatch">d-40</div>
                </div>
                <div class="color">
                    <div class="swatch">d-50</div>
                </div>
                <div class="color">
                    <div class="swatch">d-60</div>
                </div>
                <div class="color">
                    <div class="swatch">d-70</div>
                </div>
                <div class="color">
                    <div class="swatch">d-80</div>
                </div>
                <div class="color">
                    <div class="swatch">d-90</div>
                </div>
                <div class="color">
                    <div class="swatch">d-100</div>
                </div>
            </div>
            <div class="danger">
                <h2>State Danger</h2>
                <div class="color">
                    <div class="swatch">l-100</div>
                </div>
                <div class="color">
                    <div class="swatch">l-90</div>
                </div>
                <div class="color">
                    <div class="swatch">l-80</div>
                </div>
                <div class="color">
                    <div class="swatch">l-70</div>
                </div>
                <div class="color">
                    <div class="swatch">l-60</div>
                </div>
                <div class="color">
                    <div class="swatch">l-50</div>
                </div>
                <div class="color">
                    <div class="swatch">l-40</div>
                </div>
                <div class="color">
                    <div class="swatch">l-30</div>
                </div>
                <div class="color">
                    <div class="swatch">l-20</div>
                </div>
                <div class="color">
                    <div class="swatch">l-10</div>
                </div>
                <div class="color">
                    <div class="swatch"></div>
                </div>
                <div class="color">
                    <div class="swatch">d-10</div>
                </div>
                <div class="color">
                    <div class="swatch">d-20</div>
                </div>
                <div class="color">
                    <div class="swatch">d-30</div>
                </div>
                <div class="color">
                    <div class="swatch">d-40d</div>
                </div>
                <div class="color">
                    <div class="swatch">d-50</div>
                </div>
                <div class="color">
                    <div class="swatch">d-60</div>
                </div>
                <div class="color">
                    <div class="swatch">d-70</div>
                </div>
                <div class="color">
                    <div class="swatch">d-80</div>
                </div>
                <div class="color">
                    <div class="swatch">d-90</div>
                </div>
                <div class="color">
                    <div class="swatch">d-100</div>
                </div>
            </div>
            <div class="success">
                <h2>State Success</h2>
                <div class="color">
                    <div class="swatch">l-100</div>
                </div>
                <div class="color">
                    <div class="swatch">l-90</div>
                </div>
                <div class="color">
                    <div class="swatch">l-80</div>
                </div>
                <div class="color">
                    <div class="swatch">l-70</div>
                </div>
                <div class="color">
                    <div class="swatch">l-60</div>
                </div>
                <div class="color">
                    <div class="swatch">l-50</div>
                </div>
                <div class="color">
                    <div class="swatch">l-40</div>
                </div>
                <div class="color">
                    <div class="swatch">l-30</div>
                </div>
                <div class="color">
                    <div class="swatch">l-20</div>
                </div>
                <div class="color">
                    <div class="swatch">l-10</div>
                </div>
                <div class="color">
                    <div class="swatch"></div>
                </div>
                <div class="color">
                    <div class="swatch">d-10</div>
                </div>
                <div class="color">
                    <div class="swatch">d-20</div>
                </div>
                <div class="color">
                    <div class="swatch">d-30</div>
                </div>
                <div class="color">
                    <div class="swatch">d-40</div>
                </div>
                <div class="color">
                    <div class="swatch">d-50</div>
                </div>
                <div class="color">
                    <div class="swatch">d-60</div>
                </div>
                <div class="color">
                    <div class="swatch">d-70</div>
                </div>
                <div class="color">
                    <div class="swatch">d-80</div>
                </div>
                <div class="color">
                    <div class="swatch">d-90</div>
                </div>
                <div class="color">
                    <div class="swatch">d-100</div>
                </div>
            </div>
        </div>
    </div>
    @@include('footer.html')
<script src="js/main@@if (compression === true) {@@include('compression.html')}.js"></script>
</body>

</html>