<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, quam sint temporibus asperiores est, tempore?">
    <title>PROJECT NAME</title>
    <link rel="stylesheet" href="css/styles@@if (compression === true) {@@include('compression.html')}.css">
</head>

<body class="grid-underla">
    <h1>Primary Header</h1>
    @@include('header.html')
    <div class="main-content" role="main">
        <p class="lead">The big style book for the Design System</p>
        <h2>Color System</h2>
        <p>Based on the selection of the $brand-primary color, all variations, tints, and shades are generated through SASS functions.</p>
        <div class="color-chart">
            <div class="shading">
                <h3>Shading</h3>
                <div class="color">
                    <div class="swatch">l-100</div>
                </div>
                <div class="color">
                    <div class="swatch">l-90</div>
                </div>
                <div class="color">
                    <div class="swatch">l-80</div>
                </div>
                <div class="color">
                    <div class="swatch">l-70</div>
                </div>
                <div class="color">
                    <div class="swatch">l-60</div>
                </div>
                <div class="color">
                    <div class="swatch">l-50</div>
                </div>
                <div class="color">
                    <div class="swatch">l-40</div>
                </div>
                <div class="color">
                    <div class="swatch">l-30</div>
                </div>
                <div class="color">
                    <div class="swatch">l-20</div>
                </div>
                <div class="color">
                    <div class="swatch">l-10</div>
                </div>
                <div class="color">
                    <div class="swatch">G</div>
                </div>
                <div class="color">
                    <div class="swatch">d-10</div>
                </div>
                <div class="color">
                    <div class="swatch">d-20</div>
                </div>
                <div class="color">
                    <div class="swatch">d-30</div>
                </div>
                <div class="color">
                    <div class="swatch">d-40</div>
                </div>
                <div class="color">
                    <div class="swatch">d-50</div>
                </div>
                <div class="color">
                    <div class="swatch">d-60</div>
                </div>
                <div class="color">
                    <div class="swatch">d-70</div>
                </div>
                <div class="color">
                    <div class="swatch">d-80</div>
                </div>
                <div class="color">
                    <div class="swatch">d-90</div>
                </div>
                <div class="color">
                    <div class="swatch">d-100</div>
                </div>
            </div>
            <div class="primary">
                <h3>Primary</h3>
                <div class="color">
                    <div class="swatch">l-100</div>
                </div>
                <div class="color">
                    <div class="swatch">l-90</div>
                </div>
                <div class="color">
                    <div class="swatch">l-80</div>
                </div>
                <div class="color">
                    <div class="swatch">l-70</div>
                </div>
                <div class="color">
                    <div class="swatch">l-60</div>
                </div>
                <div class="color">
                    <div class="swatch">l-50</div>
                </div>
                <div class="color">
                    <div class="swatch">l-40</div>
                </div>
                <div class="color">
                    <div class="swatch">l-30</div>
                </div>
                <div class="color">
                    <div class="swatch">l-20</div>
                </div>
                <div class="color">
                    <div class="swatch">l-10</div>
                </div>
                <div class="color">
                    <div class="swatch">P</div>
                </div>
                <div class="color">
                    <div class="swatch">d-10</div>
                </div>
                <div class="color">
                    <div class="swatch">d-20</div>
                </div>
                <div class="color">
                    <div class="swatch">d-30</div>
                </div>
                <div class="color">
                    <div class="swatch">d-40</div>
                </div>
                <div class="color">
                    <div class="swatch">d-50</div>
                </div>
                <div class="color">
                    <div class="swatch">d-60</div>
                </div>
                <div class="color">
                    <div class="swatch">d-70</div>
                </div>
                <div class="color">
                    <div class="swatch">d-80</div>
                </div>
                <div class="color">
                    <div class="swatch">d-90</div>
                </div>
                <div class="color">
                    <div class="swatch">d-100</div>
                </div>
            </div>
            <div class="accent">
                <h3>Accent <small>(Complimentary)</small></h3>
                <div class="color">
                    <div class="swatch">l-100</div>
                </div>
                <div class="color">
                    <div class="swatch">l-90</div>
                </div>
                <div class="color">
                    <div class="swatch">l-80</div>
                </div>
                <div class="color">
                    <div class="swatch">l-70</div>
                </div>
                <div class="color">
                    <div class="swatch">l-60</div>
                </div>
                <div class="color">
                    <div class="swatch">l-50</div>
                </div>
                <div class="color">
                    <div class="swatch">l-40</div>
                </div>
                <div class="color">
                    <div class="swatch">l-30</div>
                </div>
                <div class="color">
                    <div class="swatch">l-20</div>
                </div>
                <div class="color">
                    <div class="swatch">l-10</div>
                </div>
                <div class="color">
                    <div class="swatch">A</div>
                </div>
                <div class="color">
                    <div class="swatch">d-10</div>
                </div>
                <div class="color">
                    <div class="swatch">d-20</div>
                </div>
                <div class="color">
                    <div class="swatch">d-30</div>
                </div>
                <div class="color">
                    <div class="swatch">d-40</div>
                </div>
                <div class="color">
                    <div class="swatch">d-50</div>
                </div>
                <div class="color">
                    <div class="swatch">d-60</div>
                </div>
                <div class="color">
                    <div class="swatch">d-70</div>
                </div>
                <div class="color">
                    <div class="swatch">d-80</div>
                </div>
                <div class="color">
                    <div class="swatch">d-90</div>
                </div>
                <div class="color">
                    <div class="swatch">d-100</div>
                </div>
            </div>
            <div class="secondary">
                <h3>Secondary</h3>
                <div class="color">
                    <div class="swatch">l-100</div>
                </div>
                <div class="color">
                    <div class="swatch">l-90</div>
                </div>
                <div class="color">
                    <div class="swatch">l-80</div>
                </div>
                <div class="color">
                    <div class="swatch">l-70</div>
                </div>
                <div class="color">
                    <div class="swatch">l-60</div>
                </div>
                <div class="color">
                    <div class="swatch">l-50</div>
                </div>
                <div class="color">
                    <div class="swatch">l-40</div>
                </div>
                <div class="color">
                    <div class="swatch">l-30</div>
                </div>
                <div class="color">
                    <div class="swatch">l-20</div>
                </div>
                <div class="color">
                    <div class="swatch">l-10</div>
                </div>
                <div class="color">
                    <div class="swatch">S</div>
                </div>
                <div class="color">
                    <div class="swatch">d-10</div>
                </div>
                <div class="color">
                    <div class="swatch">d-20</div>
                </div>
                <div class="color">
                    <div class="swatch">d-30</div>
                </div>
                <div class="color">
                    <div class="swatch">d-40</div>
                </div>
                <div class="color">
                    <div class="swatch">d-50</div>
                </div>
                <div class="color">
                    <div class="swatch">d-60</div>
                </div>
                <div class="color">
                    <div class="swatch">d-70</div>
                </div>
                <div class="color">
                    <div class="swatch">d-80</div>
                </div>
                <div class="color">
                    <div class="swatch">d-90</div>
                </div>
                <div class="color">
                    <div class="swatch">d-100</div>
                </div>
            </div>
            <div class="tertiary">
                <h3>Tertiary</h3>
                <div class="color">
                    <div class="swatch">l-100</div>
                </div>
                <div class="color">
                    <div class="swatch">l-90</div>
                </div>
                <div class="color">
                    <div class="swatch">l-80</div>
                </div>
                <div class="color">
                    <div class="swatch">l-70</div>
                </div>
                <div class="color">
                    <div class="swatch">l-60</div>
                </div>
                <div class="color">
                    <div class="swatch">l-50</div>
                </div>
                <div class="color">
                    <div class="swatch">l-40</div>
                </div>
                <div class="color">
                    <div class="swatch">l-30</div>
                </div>
                <div class="color">
                    <div class="swatch">l-20</div>
                </div>
                <div class="color">
                    <div class="swatch">l-10</div>
                </div>
                <div class="color">
                    <div class="swatch">T</div>
                </div>
                <div class="color">
                    <div class="swatch">d-10</div>
                </div>
                <div class="color">
                    <div class="swatch">d-20</div>
                </div>
                <div class="color">
                    <div class="swatch">d-30</div>
                </div>
                <div class="color">
                    <div class="swatch">d-40</div>
                </div>
                <div class="color">
                    <div class="swatch">d-50</div>
                </div>
                <div class="color">
                    <div class="swatch">d-60</div>
                </div>
                <div class="color">
                    <div class="swatch">d-70</div>
                </div>
                <div class="color">
                    <div class="swatch">d-80</div>
                </div>
                <div class="color">
                    <div class="swatch">d-90</div>
                </div>
                <div class="color">
                    <div class="swatch">d-100</div>
                </div>
            </div>
            <div class="quarternary">
                <h3>Quarternary</h3>
                <div class="color">
                    <div class="swatch">l-100</div>
                </div>
                <div class="color">
                    <div class="swatch">l-90</div>
                </div>
                <div class="color">
                    <div class="swatch">l-80</div>
                </div>
                <div class="color">
                    <div class="swatch">l-70</div>
                </div>
                <div class="color">
                    <div class="swatch">l-60</div>
                </div>
                <div class="color">
                    <div class="swatch">l-50</div>
                </div>
                <div class="color">
                    <div class="swatch">l-40</div>
                </div>
                <div class="color">
                    <div class="swatch">l-30</div>
                </div>
                <div class="color">
                    <div class="swatch">l-20</div>
                </div>
                <div class="color">
                    <div class="swatch">l-10</div>
                </div>
                <div class="color">
                    <div class="swatch">Q</div>
                </div>
                <div class="color">
                    <div class="swatch">d-10</div>
                </div>
                <div class="color">
                    <div class="swatch">d-20</div>
                </div>
                <div class="color">
                    <div class="swatch">d-30</div>
                </div>
                <div class="color">
                    <div class="swatch">d-40</div>
                </div>
                <div class="color">
                    <div class="swatch">d-50</div>
                </div>
                <div class="color">
                    <div class="swatch">d-60</div>
                </div>
                <div class="color">
                    <div class="swatch">d-70</div>
                </div>
                <div class="color">
                    <div class="swatch">d-80</div>
                </div>
                <div class="color">
                    <div class="swatch">d-90</div>
                </div>
                <div class="color">
                    <div class="swatch">d-100</div>
                </div>
            </div>
            <div class="info">
                <h3>State Info</h3>
                <div class="color">
                    <div class="swatch">l-100</div>
                </div>
                <div class="color">
                    <div class="swatch">l-90</div>
                </div>
                <div class="color">
                    <div class="swatch">l-80</div>
                </div>
                <div class="color">
                    <div class="swatch">l-70</div>
                </div>
                <div class="color">
                    <div class="swatch">l-60</div>
                </div>
                <div class="color">
                    <div class="swatch">l-50</div>
                </div>
                <div class="color">
                    <div class="swatch">l-40</div>
                </div>
                <div class="color">
                    <div class="swatch">l-30</div>
                </div>
                <div class="color">
                    <div class="swatch">l-20</div>
                </div>
                <div class="color">
                    <div class="swatch">l-10</div>
                </div>
                <div class="color">
                    <div class="swatch">Q</div>
                </div>
                <div class="color">
                    <div class="swatch">d-10</div>
                </div>
                <div class="color">
                    <div class="swatch">d-20</div>
                </div>
                <div class="color">
                    <div class="swatch">d-30</div>
                </div>
                <div class="color">
                    <div class="swatch">d-40</div>
                </div>
                <div class="color">
                    <div class="swatch">d-50</div>
                </div>
                <div class="color">
                    <div class="swatch">d-60</div>
                </div>
                <div class="color">
                    <div class="swatch">d-70</div>
                </div>
                <div class="color">
                    <div class="swatch">d-80</div>
                </div>
                <div class="color">
                    <div class="swatch">d-90</div>
                </div>
                <div class="color">
                    <div class="swatch">d-100</div>
                </div>
            </div>
            <div class="warning">
                <h3>State Warning</h3>
                <div class="color">
                    <div class="swatch">l-100</div>
                </div>
                <div class="color">
                    <div class="swatch">l-90</div>
                </div>
                <div class="color">
                    <div class="swatch">l-80</div>
                </div>
                <div class="color">
                    <div class="swatch">l-70</div>
                </div>
                <div class="color">
                    <div class="swatch">l-60</div>
                </div>
                <div class="color">
                    <div class="swatch">l-50</div>
                </div>
                <div class="color">
                    <div class="swatch">l-40</div>
                </div>
                <div class="color">
                    <div class="swatch">l-30</div>
                </div>
                <div class="color">
                    <div class="swatch">l-20</div>
                </div>
                <div class="color">
                    <div class="swatch">l-10</div>
                </div>
                <div class="color">
                    <div class="swatch">Q</div>
                </div>
                <div class="color">
                    <div class="swatch">d-10</div>
                </div>
                <div class="color">
                    <div class="swatch">d-20</div>
                </div>
                <div class="color">
                    <div class="swatch">d-30</div>
                </div>
                <div class="color">
                    <div class="swatch">d-40</div>
                </div>
                <div class="color">
                    <div class="swatch">d-50</div>
                </div>
                <div class="color">
                    <div class="swatch">d-60</div>
                </div>
                <div class="color">
                    <div class="swatch">d-70</div>
                </div>
                <div class="color">
                    <div class="swatch">d-80</div>
                </div>
                <div class="color">
                    <div class="swatch">d-90</div>
                </div>
                <div class="color">
                    <div class="swatch">d-100</div>
                </div>
            </div>
            <div class="danger">
                <h3>State Danger</h3>
                <div class="color">
                    <div class="swatch">l-100</div>
                </div>
                <div class="color">
                    <div class="swatch">l-90</div>
                </div>
                <div class="color">
                    <div class="swatch">l-80</div>
                </div>
                <div class="color">
                    <div class="swatch">l-70</div>
                </div>
                <div class="color">
                    <div class="swatch">l-60</div>
                </div>
                <div class="color">
                    <div class="swatch">l-50</div>
                </div>
                <div class="color">
                    <div class="swatch">l-40</div>
                </div>
                <div class="color">
                    <div class="swatch">l-30</div>
                </div>
                <div class="color">
                    <div class="swatch">l-20</div>
                </div>
                <div class="color">
                    <div class="swatch">l-10</div>
                </div>
                <div class="color">
                    <div class="swatch">Q</div>
                </div>
                <div class="color">
                    <div class="swatch">d-10</div>
                </div>
                <div class="color">
                    <div class="swatch">d-20</div>
                </div>
                <div class="color">
                    <div class="swatch">d-30</div>
                </div>
                <div class="color">
                    <div class="swatch">d-40</div>
                </div>
                <div class="color">
                    <div class="swatch">d-50</div>
                </div>
                <div class="color">
                    <div class="swatch">d-60</div>
                </div>
                <div class="color">
                    <div class="swatch">d-70</div>
                </div>
                <div class="color">
                    <div class="swatch">d-80</div>
                </div>
                <div class="color">
                    <div class="swatch">d-90</div>
                </div>
                <div class="color">
                    <div class="swatch">d-100</div>
                </div>
            </div>
            <div class="success">
                <h3>State Success</h3>
                <div class="color">
                    <div class="swatch">l-100</div>
                </div>
                <div class="color">
                    <div class="swatch">l-90</div>
                </div>
                <div class="color">
                    <div class="swatch">l-80</div>
                </div>
                <div class="color">
                    <div class="swatch">l-70</div>
                </div>
                <div class="color">
                    <div class="swatch">l-60</div>
                </div>
                <div class="color">
                    <div class="swatch">l-50</div>
                </div>
                <div class="color">
                    <div class="swatch">l-40</div>
                </div>
                <div class="color">
                    <div class="swatch">l-30</div>
                </div>
                <div class="color">
                    <div class="swatch">l-20</div>
                </div>
                <div class="color">
                    <div class="swatch">l-10</div>
                </div>
                <div class="color">
                    <div class="swatch">Q</div>
                </div>
                <div class="color">
                    <div class="swatch">d-10</div>
                </div>
                <div class="color">
                    <div class="swatch">d-20</div>
                </div>
                <div class="color">
                    <div class="swatch">d-30</div>
                </div>
                <div class="color">
                    <div class="swatch">d-40</div>
                </div>
                <div class="color">
                    <div class="swatch">d-50</div>
                </div>
                <div class="color">
                    <div class="swatch">d-60</div>
                </div>
                <div class="color">
                    <div class="swatch">d-70</div>
                </div>
                <div class="color">
                    <div class="swatch">d-80</div>
                </div>
                <div class="color">
                    <div class="swatch">d-90</div>
                </div>
                <div class="color">
                    <div class="swatch">d-100</div>
                </div>
            </div>
        </div>
    </div>
    <script src="js/main@@if (compression === true) {@@include('compression.html')}.js"></script>
</body>

</html>