<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, quam sint temporibus asperiores est, tempore?">
    <title>Welcome to the Workflow API</title>
    <link rel="stylesheet" href="css/styles@@if (compression === true) {@@include('compression.html')}.css">
</head>

<body class="grid-underla">
    <h1>Design Workflow</h1>
    @@include('header.html')
    <div class="main-content" role="main">
        <p class="lead">A style book for the Design System</p>
        <h2>Contents</h2>
        <dl>
            <dt><a href="color.html">Color</a></dt>
            <dd>Based on the selection of the $brand-primary color, all variations, tints, and shades are generated through SASS functions.</dd>
            <dt><a href="type.html">Typography</a></dt>
            <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro eligendi sint nisi distinctio animi saepe inventore rem ea maxime ab?</dd>
            <dt><a href="#.html">Layout</a></dt>
            <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, quas. Adipisci est provident quam dolores, autem aspernatur laborum ducimus non!</dd>
            <dt><a href="modules.html">Modules</a></dt>
            <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam consectetur ipsa excepturi harum error fugit, ducimus possimus veniam fugiat sit!</dd>
        </dl>
    </div>
    @@include('footer.html')
<script src="js/main@@if (compression === true) {@@include('compression.html')}.js"></script>
</body>

</html>