<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, quam sint temporibus asperiores est, tempore?">
    <title>Modules | Workflow API</title>
    <link rel="stylesheet" href="css/styles@@if (compression === true) {@@include('compression.html')}.css">

    <style> </style>
</head>

<body class="nav-main grid-underla">
    <h1>Tables</h1>

    @@include('header.html')

    @@include('local-nav.html')

    <div class="main-content" role="main">

        <table class="table table-striped table-2col">
            <caption>2-DataPoint Table</caption>
            <thead>
                <tr>
                    <th scope="col">
                        Date
                    </th>
                    <th scope="col">
                        Event
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        09/25/2019
                    </td>
                    <td>
                        Pension Verification Letter Mailed to Member
                    </td>
                </tr>
                <tr>
                    <td>
                        09/24/2019
                    </td>
                    <td>
                        RHC Acknowledgment Letter Mailed to Member
                    </td>
                </tr>
                <tr>
                    <td>
                        09/24/2019
                    </td>
                    <td>
                        Document Received: DENTAL/VISION NEW/CHANGE/CANCEL FORM
                    </td>
                </tr>
                <tr>
                    <td>
                        09/16/2019
                    </td>
                    <td>
                        Pension Verification Letter Mailed to Member
                    </td>
                </tr>
                <tr>
                    <td>
                        09/16/2019
                    </td>
                    <td>
                        Pension Verification Letter Mailed to Member
                    </td>
                </tr>
                <tr>
                    <td>
                        09/16/2019
                    </td>
                    <td>
                        Form Request Letter Mailed to Member
                    </td>
                </tr>
                <tr>
                    <td>
                        09/12/2019
                    </td>
                    <td>
                        Document Received: RETIREMENT BENEFIT ESTIMATE AND ELECTION FORM
                    </td>
                </tr>
                <tr>
                    <td>
                        09/12/2019
                    </td>
                    <td>
                        Document Received: BENEFICIARY DESIGNATION FORM
                    </td>
                </tr>
                <tr>
                    <td>
                        09/12/2019
                    </td>
                    <td>
                        Document Received: SCAN MA-PD DISENROLLMENT FORM-MSC
                    </td>
                </tr>
                <tr>
                    <td>
                        09/12/2019
                    </td>
                    <td>
                        Document Received: SECURE HORIZONS MA-PD DISENROLLMENT-MSC
                    </td>
                </tr>
                <tr>
                    <td>
                        09/12/2019
                    </td>
                    <td>
                        Document Received: KAISER SR. ADVANTAGE MA-PD DISENROLLMENT-MSC
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2">Just a Test</td>
                </tr>
            </tfoot>
        </table>


        <table class="table table-striped table-multicol">
            <caption>Multi-column Table</caption>
            <thead>
                <tr>
                    <th>Lorem ipsum.</th>
                    <th>Dicta, maiores.</th>
                    <th>Eligendi, ex.</th>
                    <th>A, et?</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Lorem ipsum.</td>
                    <td>Itaque, aliquid.</td>
                    <td>Atque, officiis!</td>
                    <td>Consequatur, officiis?</td>
                </tr>
                <tr>
                    <td>Lorem ipsum.</td>
                    <td>Reiciendis, odio!</td>
                    <td>Nostrum, dolor!</td>
                    <td>Voluptatem, incidunt.</td>
                </tr>
                <tr>
                    <td>Lorem ipsum.</td>
                    <td>Quos, delectus.</td>
                    <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</td>
                    <td>Sint, sed.</td>
                </tr>
                <tr>
                    <td>Lorem ipsum.</td>
                    <td>Incidunt, facere.</td>
                    <td>Fuga, explicabo!</td>
                    <td>Ipsum, dignissimos?</td>
                </tr>
                <tr>
                    <td>Lorem ipsum.</td>
                    <td>Laborum, explicabo.</td>
                    <td>Soluta, quos.</td>
                    <td>Aliquam, pariatur.</td>
                </tr>
                <tr>
                    <td>Lorem ipsum.</td>
                    <td>Soluta, maxime!</td>
                    <td>Quae, amet.</td>
                    <td>Eos, voluptas?</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</td>
                </tr>
            </tfoot>
        </table>

    </div>

    @@include('footer.html')

<script src="js/main@@if (compression === true) {@@include('compression.html')}.js"></script>
</body>

</html>