<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, quam sint temporibus asperiores est, tempore?">
    <title>Type System | Workflow API</title>
    <link rel="stylesheet" href="css/styles@@if (compression === true) {@@include('compression.html')}.css">
</head>

<body class="grid-underlay">
    <h1>Type System</h1>
    @@include('header.html')
    <div class="main-content" role="main">
        <h2>Type System</h2>
        <h3>A Heading Level 3</h3>
        <p>Quas, voluptatum. <a href="#">Est incidunt voluptatum aliquid officiis fuga</a>, architecto suscipit iste, blanditiis deleniti velit veritatis in, molestias quod nulla nihil aliquam quisquam! Sunt repudiandae, deleniti, voluptatum id quisquam impedit ipsa.</p>
        <h4>A Heading Level 4</h4>
        <p>Numquam voluptatum, perferendis dolorum doloremque illum? Molestiae error nobis, modi recusandae quisquam quasi non, unde ea! Modi ea, impedit ratione veniam beatae ad est qui eum nulla, facilis quis reprehenderit!</p>
        <p>Saepe voluptatibus molestiae consequuntur dolore at dignissimos, tempora repellat illum illo nemo odit pariatur eum eaque aut iure amet, mollitia, sint fuga hic sit rerum! Iusto impedit debitis, quae dolorem!</p>
        <p>Deserunt, corporis, voluptatibus. Modi id dolorum ipsa nobis cupiditate adipisci totam, debitis quidem fugit labore obcaecati aspernatur tenetur inventore dolores et corrupti porro eos, ea facilis aperiam! Mollitia accusantium, velit!</p>
        <h5>Header 5</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum quis soluta quisquam quaerat impedit eaque quae maxime delectus, provident tempore quia dolore enim perferendis odio molestias eos autem, cupiditate. Fugiat.</p>
        <div class="footnote">
            <h6>Footnote title</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At iure, inventore hic, dolores laborum mollitia repudiandae, minima excepturi tempore aut ducimus veniam eum in quo expedita quibusdam, unde? Dolores voluptatem alias mollitia, omnis adipisci explicabo, quia sed. Atque esse, vel possimus, error non delectus! Vitae ut vero perspiciatis odio, quam.</p>
        </div>
        <hr />
        <ul>
            <li>Lorem ipsum dolor sit amet, consectetur.</li>
            <li>Quae, ratione asperiores quos neque? Cumque.</li>
            <li>Laudantium modi quisquam maxime amet non.</li>
            <li>Accusamus nobis animi facilis placeat, eum.</li>
            <li>Temporibus ullam rerum quae, perspiciatis et.</li>
            <li>Quod veritatis quo magnam aperiam. Ullam.</li>
        </ul>
        <ol>
            <li>Lorem ipsum dolor sit amet, consectetur.</li>
            <li>Commodi minima debitis natus molestiae earum.</li>
            <li>Deserunt blanditiis, itaque. Mollitia, incidunt, error.</li>
            <li>Numquam vitae, id totam iure voluptates!</li>
            <li>Itaque ea, natus rerum voluptatem quisquam.</li>
            <li>Repellat eaque consequuntur nobis minima aliquid.</li>
        </ol>
        <dl>
            <dt>Lorem ipsum.</dt>
            <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam saepe, accusamus ratione.</dd>
            <dt>Quidem, illum.</dt>
            <dd>Blanditiis itaque, enim placeat reiciendis ipsa repudiandae delectus voluptatum nobis, eius officiis.</dd>
            <dt>Excepturi, quisquam.</dt>
            <dd>Odio impedit, blanditiis numquam aspernatur maxime soluta. Sint cum eos natus tempore.</dd>
            <dt>Numquam, impedit.</dt>
            <dd>Cupiditate in ducimus atque, odio modi? Ipsum odit, error doloremque. Ipsum, consectetur.</dd>
            <dt>Aperiam, hic?</dt>
            <dd>Impedit, earum, natus. Maxime aliquam sit sed consequuntur eveniet praesentium veritatis quia.</dd>
            <dt>Numquam, unde.</dt>
            <dd>Eius, eum quis quisquam, quaerat numquam possimus maiores aliquam ratione explicabo corporis.</dd>
        </dl>
    </div>
    @@include('footer.html')
<script src="js/main@@if (compression === true) {@@include('compression.html')}.js"></script>
</body>

</html>