<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>My Test page</title>
    <link rel="stylesheet" href="css/styles@@if (compression === true) {@@include('./includes/compression.html')}.css">
    <link rel="stylesheet" href="css/development-styles@@if (compression === true) {@@include('./includes/compression.html')}.css">
</head>
<body>
	<h1>Hello World!</h1>
    @@include('./includes/header.html')

	<footer>Copyright 2019, All Rights Reserved</footer>


	<script src="js/main@@if (compression === true) {@@include('./includes/compression.html')}.js"></script>
	<script> </script>
</body>
</html>