@import 'class-lib';

html {
  font-size: $base-font-size;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: $line-height;
}

@include responsive(xs){
  html {
    font-size: $nrw-font-size;
  }
};

h1 {
  @extend %primary-head;

  color: var(--primary-clr, $brand-primary);
  margin-bottom: 1px;
  padding-bottom: beat(2);
}

h2 {
  @extend %xx-large-type;

  padding-bottom: beat(2);
}

h3 {
  @extend %x-large-type;

  padding-top: beat(2);
}

h4 {
  @extend %large-type;
}

// h5 {

// }

h6 {
  @extend %small-type;
}

.footnote > * {
  @extend %x-small-type;
}

p, ul, ol, dl, address {
  // margin: 0 0 15rem;
  margin-bottom: beat();
}

p {
  &.lead {
    @extend %large-type;
  }

  &.small {
    @extend %small-type;
  }

  &.smallest {
    @extend %x-small-type;
  }
}

// Utility Classes
.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;

  &:active,
  &:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
  }
}
