<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, quam sint temporibus asperiores est, tempore?">
    <title>PROJECT NAME</title>
    <link rel="stylesheet" href="css/styles@@if (compression === true) {@@include('./includes/compression.html')}.css">
    <!-- <link rel="stylesheet" href="css/styles.css"> -->
</head>

<body class="grid-underlay">
    <h1>Primary Header</h1>
    <nav class="global">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Lorem</a></li>
            <li><a href="#">Perspiciatis</a></li>
            <li><a href="#">Laborum</a></li>
            <li><a href="#">Vitae</a></li>
            <li><a href="#">Deleniti</a></li>
        </ul>
    </nav>
    <div class="main-content" role="main">
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem ex, officia accusamus nulla reprehenderit laboriosam.</p>
        <h2>Secondary Header Level 2</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis rem sunt, nemo mollitia fugiat provident! Quas, quam officia saepe iusto.</p>
        <div class="color-chips">    	
	        <div class="color primary">Primary</div>
	        <div class="color p-light">Primary Light</div>
	        <div class="color p-dark">Primary Dark</div>
	        <div class="color accent">Accent</div>
	        <div class="color secondary">Secondary</div>
	        <div class="color terciary">Terciary</div>
        </div>
        <h3>Header Level 3</h3>
        <p>Perspiciatis natus deserunt fugiat vel optio, reprehenderit, animi recusandae dolor placeat hic distinctio consequuntur voluptatem omnis ut earum unde excepturi.</p>
        <ul>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing.</li>
            <li>Cum nostrum, cupiditate incidunt expedita magni facere.</li>
            <li>Tempore veniam, repellendus aliquam voluptate! Quia, a!</li>
            <li>Sit nemo, ipsa consectetur maiores totam amet!</li>
            <li>Ut maiores dolores, dolorum, sunt ipsum aliquam.</li>
            <li>Earum provident alias, excepturi ullam aperiam sapiente.</li>
        </ul>
        <h4>Header Level 4</h4>
        <p>Tenetur assumenda sint deserunt cupiditate laudantium quisquam, harum. Maxime ad nisi molestias magni, minus hic quia ea laborum modi repudiandae!</p>
        <h5>Header Level 5</h5>
        <p>Et, cum beatae incidunt ex enim, ea tenetur omnis labore tempora dicta distinctio eum deserunt eveniet ducimus dolor vero similique?</p>
        <h6>Header Level 6</h6>
        <p class="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, facilis distinctio, tenetur maxime dolorum iusto aliquid amet repudiandae id suscipit repellendus sequi fugit nostrum ab porro nemo eius blanditiis ea, labore consequatur nobis! Dolores veniam quia, totam quidem veritatis ea voluptatum laudantium explicabo, ipsam repudiandae nemo optio. Voluptate ut ab eveniet voluptates libero nostrum amet.</p>
        <div class="footnote">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui necessitatibus delectus, nulla quisquam? Sint fugiat voluptatum necessitatibus natus, earum accusamus totam accusantium, non, adipisci voluptas, consequuntur. Sed blanditiis voluptates sapiente praesentium, nihil sit minus, perferendis doloribus ratione officia, totam quis eaque obcaecati amet quaerat nobis officiis veritatis dignissimos rem. Ipsum impedit expedita quas alias neque.</p>
        </div>
    </div>
    <script src="js/main@@if (compression === true) {@@include('./includes/compression.html')}.js"></script>
</body>

</html>