/*	Base Element Styles for LDC	*/
/* 	1.  Variables	*/
@import "variables";

/* 	2.  Mixins	*/
@import "mixins";

/* 	3.  Typography	*/
@import "typography";

/* 	4.  Base HTML Elements	*/
/*      file: base.scss   */
/*      ========================================   */



@mixin widthpct($pct) {
    width: calc((((100% + 30px)/8) * #{$pct}) - 30px);
}

figure {
    text-align: center;
    margin-bottom: beat(4.5);

    img {
        max-width: 100%;
        vertical-align: middle;
    }

    &[class^="left"] {
        float: left;
        margin-right: $el-pad * 2;
    }

    &[class^="right"] {
        float: right;
        margin-left: $el-pad * 2;
    }

    &[class$="-2"] {
        @include widthpct(4)
    }
    &[class$="-3"] {
        @include widthpct(3)
    }
    &[class$="-4"] {
        @include widthpct(2)
    }


}

p.two-col,
ul.two-col {
    column-count: 2;
    column-gap: $el-pad * 2;
}



// table {
//     width: 100%;
//     margin-top: beat(8);

//     caption {
//         @extend %large-type;

//         color: $gray;
//     }

//     thead th {
//         @extend %small-type;
//         line-height: 1.25rem;
//         font-weight: 700;
//         padding: beat(1) $table-sides;
//         text-align: center;
//         vertical-align: bottom;

//         @include borderizer(2px, 1);

//         border-style: solid;
//         border-color: $gray-dark;
//     }

//     tbody td,
//     tfoot td {
//         padding: beat(2) $table-sides;

//         @include borderizer(1px, 2);

//         border-bottom-style: solid;
//         border-bottom-color: $comp-border;
//     }

//     tbody td {
//         text-align: center;

//         &:first-child {
//             text-align: left;
//         }
//     }

//     tbody tr:last-child td,
//     tfoot tr:last-child td {
//         @include borderizer(2px, 2);

//         border-bottom-style: solid;
//         border-bottom-color: $gray-dark;
//     }
// }