/* Modules: Bootstrap Base Elements (CSS Section) overwritten */

a {
    text-decoration: underline;
    
    &.btn,
    &:hover,
    &:focus {
        text-decoration: none;
    }
}

hr {
    border-top: 0;
    margin: 0 0 rhythm(4);
    @include trailing-border(1px, 4);
}

blockquote {
	color: navy;
	font-size: $base-font-size;
	margin-bottom: rhythm(4);
	border-left: 0;

	p {
		@include adjust-font-size-to($large-type, 5);
		text-align: center;

		&.attributed {
			@include adjust-font-size-to($small-type,3,$base-font-size);
			text-align: right;
		}
	}
}