/*  
    ===========================
     Bootstrap: Navigation Bar
    ===========================
*/

.navbar-brand {
    padding: 0.5em 30px 0.5em 0;

    @include responsive(xxs){
        padding-left: 15px;
    };
}




.navbar-inverse {
    background: #222 url(../img/navbar-bg.jpg);


    .navbar-nav > li > a {
        color: darken($gray-lighter, 10);
        text-decoration: none;

        &:hover {
            color: #fff;
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,222222+100 */
            background: rgb(0,0,0); /* Old browsers */
            background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,1) 0%, rgba(34,34,34,1) 100%); /* FF3.6-15 */
            background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,1) 0%,rgba(34,34,34,1) 100%); /* Chrome10-25,Safari5.1-6 */
            background: radial-gradient(ellipse at center,  rgba(0,0,0,1) 0%,rgba(34,34,34,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#222222',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        }

        @include responsive(xs-only){
            padding-left: 7px;
            padding-right: 7px;
        };
    }
}