/*      02. var-branding        */

// My LACERA color palette sampled from old site design

// $ml-blue-dark: 			#325f7d;
// $ml-blue-light: 			#d7e8ed;

// $ml-brown:				#593602;
// $ml-orange: 				#ff9000;

$gradTop: 					#e7edf0;
$gradBottom: 				#d0dbe1;

$selectColor: 	darken($ml-yellow, 5);
$selectBG:		lighten($ml-yellow,5);


$brand-comp-bg: $ml-pink;


// This is the lightest gray color that doesn't get flagged 
// in an Accessibility audit (Chrome)
$gray-safe: #999;


// Jumbotron elements
$primary-shadow: darken($brand-primary, 15); // Text shadow on banner
$primary-border: darken($brand-primary, 5);  // Banner Border
$primary-corner: darken($brand-primary, 6);  // Coloring for dog-eared corner
$jt-transparent: rgba(255, 170, 0, .925);    // Banner tranparency
